[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "external/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft.git
